<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<head>
    <meta charset="UTF-8" />
    <title>Cadastro de Doadores</title>

</head>
<body>

<div class="container my-2">
    <h2>Editar</h2>
    <form action="#" th:action="@{/solicitacoes/salvar}" th:object="${solicitacao}" method="POST">
        <input type="hidden" id="id" th:field="*{id}">

        <input type="text" th:field="*{instituicao}" placeholder="Nome da Instituição" class="form-control mb-4 col-4">

        <input type="text" th:field="*{email}" placeholder="Email" class="form-control mb-4 col-4">

        <input type="text" th:field="*{telefone}" placeholder="Telefone" class="form-control mb-4 col-4">

        <input type="text" th:field="*{endereco}" placeholder="Endereço" class="form-control mb-4 col-4">

        <input type="text" th:field="*{cnpj}" placeholder="CNPJ" class="form-control mb-4 col-4">

        <input type="text" th:field="*{alimento}" placeholder="Número" class="form-control mb-4 col-4">

        <input type="text" th:field="*{descricao}" placeholder="Descrição" class="form-control mb-4 col-4">

        <button type="submit" class="btn btn-info col-2">Salvar</button>
    </form>
    <hr>
    <a th:href="@{/solicitacoes}">Retornar para a lista de doadores</a>
</div>
</body>
</html>